.container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.title {
    color: #FFF;
    font-size: 25px;
}
.choosenOption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.gameresult {
    display: flex;
    justify-content: center;
    align-items: center;
}