.result {
    color: #FFF;
    font-size: 40px;

}
.container {
    padding: 30px;
}
.btnPlay {
    padding: 10px 45px 10px 45px;
    border-radius: 7px;
    line-height: 20px;
    letter-spacing: 2px;
    color: red;
    margin: 20px;
    &:hover {
        cursor: pointer;
    }
}